[submodule "lua-nginx-module"]
	path = lua-nginx-module
	url = https://github.com/chaoslawful/lua-nginx-module.git
[submodule "third/lua-cjson"]
	path = third/lua-cjson
	url = https://github.com/openresty/lua-cjson.git
[submodule "ngx_devl_kit"]
	path = ngx_devl_kit
	url = https://github.com/simpl/ngx_devel_kit.git
[submodule "third/llmdb"]
	path = third/llmdb
	url = https://github.com/shmul/lightningmdb.git
